.timeCal{

    .input-group{

        @include media-breakpoint-down(sm){
            display: block;
            text-align: center;
            margin: 0;
        }

        .input-group-text{

            @include media-breakpoint-down(sm){
                text-align: center;
                margin: 0 !important;
                display: block;
            }
        }

        .form-control{
            @include media-breakpoint-down(sm){
                width: 100%;
                margin: 0 !important;
                text-align: center;
            }
        }

        .theDay{

            @include media-breakpoint-up(md){
                min-width: 120px;
            }
        }
    }
}